<a href="https://colab.research.google.com/github/Raexann/Machine-Learning/blob/main/Linear_regression_with_wine_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [3]:
#loading data
data=pd.read_csv("/content/wine_classification.csv")

In [4]:
data.head()

,fixedAcidity,volatileAcidity,citricAcid,residualSugar,chlorides,freeSulfurDioxide,totalSulfurDioxide,density,pH,sulphates,alcohol,quality,type
0,6.945513,0.272992,0.403691,13.920038,0.051043,66.077662,245.612070,0.998768,3.161269,0.579738,9.504513,4,White
1,6.995486,0.190402,0.310377,19.186267,0.044147,39.852796,175.908433,1.000245,2.932994,0.523323,9.112224,3,White
2,5.978831,0.140616,0.251393,4.402912,0.028109,32.093612,151.569367,0.995412,3.488070,0.511582,11.077951,4,White
3,6.688603,0.371501,0.507942,11.862843,0.044918,67.531739,155.608503,0.998803,3.174425,0.439773,8.853944,5,White
4,7.224421,0.201252,0.220918,1.612570,0.044984,16.817987,121.629623,0.995424,3.373870,0.528637,10.366208,5,White

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fixedAcidity        5000 non-null   float64
 1   volatileAcidity     5000 non-null   float64
 2   citricAcid          5000 non-null   float64
 3   residualSugar       5000 non-null   float64
 4   chlorides           5000 non-null   float64
 5   freeSulfurDioxide   5000 non-null   float64
 6   totalSulfurDioxide  5000 non-null   float64
 7   density             5000 non-null   float64
 8   pH                  5000 non-null   float64
 9   sulphates           5000 non-null   float64
 10  alcohol             5000 non-null   float64
 11  quality             5000 non-null   int64
 12  type                5000 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 507.9+ KB

In [6]:
def converter(quality):
  if quality=='White':
    return 0
  if quality=='Red':
    return 1
  
data['type']=data['type'].apply(converter)

In [7]:
data.head()

,fixedAcidity,volatileAcidity,citricAcid,residualSugar,chlorides,freeSulfurDioxide,totalSulfurDioxide,density,pH,sulphates,alcohol,quality,type
0,6.945513,0.272992,0.403691,13.920038,0.051043,66.077662,245.612070,0.998768,3.161269,0.579738,9.504513,4,0
1,6.995486,0.190402,0.310377,19.186267,0.044147,39.852796,175.908433,1.000245,2.932994,0.523323,9.112224,3,0
2,5.978831,0.140616,0.251393,4.402912,0.028109,32.093612,151.569367,0.995412,3.488070,0.511582,11.077951,4,0
3,6.688603,0.371501,0.507942,11.862843,0.044918,67.531739,155.608503,0.998803,3.174425,0.439773,8.853944,5,0
4,7.224421,0.201252,0.220918,1.612570,0.044984,16.817987,121.629623,0.995424,3.373870,0.528637,10.366208,5,0

In [8]:
#splitting the data
x=data.drop('type', axis='columns')
y=data.type

In [9]:
#fitting
reg = linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

In [10]:
#accuracy
reg.score(x, y)

0.8255768591450745

In [11]:
reg.coef_

array([ 1.70124787e-02,  5.60864938e-01, -1.23713475e-01, -3.18749238e-02,
        1.12665755e+00,  1.98094998e-03, -2.54935965e-03,  7.99539599e+01,
        9.28292709e-02,  2.04435376e-01,  5.39290731e-02, -2.13668565e-02])

In [12]:
reg.intercept_

-80.19896446179972